@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Raleway');

$ffHeader: 'Pacifico', cursive;
$ffMain: 'Raleway', sans-serif;
$pBGC: rgb(241, 234, 219);
$sBGC: rgb(237, 245, 249);
$tBGC: rgb(245, 252, 252);
$dBGC: rgb(41, 53, 41);
$iC: rgb(52, 94, 52);
$pTextC: rgb(21, 29, 21);
$pLineC: rgba(201, 163, 66, 0.5);
$sTextC: rgb(31, 39, 31);
$shad: rgba(0, 0, 0, 0.25);
