@import './_config.scss';

.App {
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.Main-cont {
  /* border: 5px solid yellow; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
