@import './_config.scss';

.Board-cont {
  border-right: 1px solid $pLineC;
  width: calc(100% - 200px);
  background-color: $sBGC;
  padding-bottom: 20px;
  // min-height: 550px;
  min-height: calc(100vh - 270px);
}

.Board-items-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
