.Filter-cont {
  width: 200px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.Filter-options {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 2px;
  margin-bottom: 2px;
}

.Filter-options-text {
  text-align: left;
}

.Filter-options-header {
  text-transform: uppercase;
  background-color: black;
  color: white;
  border-top: 2px solid rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Filter-options-cont {
  height: 100%;
  max-height: 1000px;
  transition: all 0.25s ease;
}

.Filter-options-cont.hide {
  max-height: 0px;
  opacity: 0;
  z-index: -500;
}

.Filter-header-text {
  user-select: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
