@import './_config.scss';

.Filter-cont {
  width: 200px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid $pLineC;
  border-right: 1px solid $pLineC;
  box-sizing: border-box;
  background-color: $tBGC;
}

.Filter-header {
  padding: 5px;
  font-weight: bold;
}

.Filter-options {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 2px;
  margin-bottom: 2px;
}

.Filter-options-text {
  text-align: left;
  user-select: none;
}

.Filter-options-header {
  text-transform: uppercase;
  background-color: $iC;
  color: white;
  border-top: 2px solid $tBGC;
  border-bottom: 2px solid $tBGC;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Filter-options-cont {
  height: 100%;
  max-height: 1000px;
  transition: all 0.25s ease;
  opacity: 1;
}

.Filter-options-cont.shrink {
  max-height: 0px;
  opacity: 0;
}

.Filter-options-cont.grow {
  max-height: 1000px;
  opacity: 1;
}

.Filter-options-cont.hide {
  display: none;
}

.Filter-header-text {
  user-select: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.Filter-clear {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $pLineC;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100px;
  background-color: $pBGC;
  font-weight: bold;
  color: $pTextC;
  border-radius: 3px;
  box-shadow: 0 2px 5px $shad;
  margin-bottom: 10px;
  user-select: none;
}

@media only screen and (max-width: 575px) {
  .Filter-cont {
    width: 100%;
  }

  .Filter-header-text {
    margin-left: 20%;
  }
}
