@import './_config.scss';

.Header-cont {
  box-sizing: border-box;
  font-family: $ffHeader;
  width: 100%;
  height: 120px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $pBGC;
  color: $sTextC;
  border: 1px solid $pLineC;
  z-index: 5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 5px;
}

.Header-border {
  box-sizing: border-box;
  border-top: 1px solid $pLineC;
  border-bottom: 1px solid $pLineC;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Header-text-cont {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 270px;
  height: 80%;
  position: relative;
  font-size: 5em;
}

.Header-vin,
.Header-mo {
  position: absolute;
  text-shadow: 0 5px 15px $shad;
}

.Header-vin {
  top: -20px;
  left: 0;
  transform: rotate(-7deg);
}

.Header-mo {
  top: -30px;
  right: 0;
  transform: rotate(-3deg);
}
