@import './_config.scss';

.Sort-cont {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 5px;
  user-select: none;
}

.Sort-button {
  border: 1px solid $pLineC;
  background-color: $pBGC;
  width: 100px;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0 2px 5px $shad;
  font-weight: bold;
}

.Sort-dropdown-cont {
  box-sizing: border-box;
  position: absolute;
  top: 30px;
  right: 0;
  display: none;
  border: 1px solid $pLineC;
  background-color: $pBGC;
  width: 100px;
  opacity: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: all 0.25s ease;
}

.Sort-dropdown-cont.show,
.Sort-dropdown-cont.grow,
.Sort-dropdown-cont.shrink {
  display: inline;
}

.Sort-dropdown-cont.grow {
  opacity: 1;
}

.Sort-dropdown-cont.shrink {
  opacity: 0;
}

.Sort-option {
  padding: 5px;
  z-index: 5;
}

.Sort-option:hover {
  font-weight: bold;
}

@media only screen and (max-width: 575px) {
  .Sort-cont {
    widows: 100%;
  }
}
